.socios-section
  display: flex
  justify-content: center
  overflow: hidden
  display: none
  .socios-wrap
    margin-top: 10px
    margin-bottom: 10px
    width: 600px
    display: flex
    justify-content: space-around
    img
      transform: scale(.8)

.footer-section
  width: 100%
  height: 350px
  position: relative
  display: flex
  justify-content: center
  overflow: hidden
  font-family: $roboto
  background-image: url(/assets/images/bg-numeros2.jpg)
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  .overlay-footer
    background-image: url(/assets/images/overlay-pattern.png)!important
    background-repeat: repeat
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 0
  .dark-footer
    background-color: rgba(#424242,.8)
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
  .footer-wrap
    margin-top: 20px
    width: 950px
    display: flex
    position: relative
    justify-content: space-around
    align-items: center
    z-index: 1
    .other
      transform: scale(.7)
    .question
      display: flex
      justify-content: center
      flex-direction: column
      p
        color: white
        text-transform: uppercase
        font-family: $roboto
        font-size: 20px
        position: relative
        padding-bottom: 5px
        &::after
          content: ""
          position: absolute
          width: 100%
          height: 3px
          background-color:  white
          bottom: 0
          left: 0
          transform: scale(.3)
      .form-consulta
        display: flex
        flex-direction: column
        font-family: $roboto
        .field-q
          margin-bottom: 10px
          height: 20px
          width: 250px
          border-style: none
          border-radius: 5px
          font-family: $roboto
          padding: 5px
        .consulta
          height: 60px
          border-style: none
          border-radius: 5px
          margin-bottom: 10px
          font-family: $roboto
          padding: 5px
        .btn-q
          background-color: #ff5252
          border-style: none
          color: white
          border-radius: 5px
          height: 30px
          font-family: $roboto
    .contact
      color: white
      display: flex
      flex-direction: column
      .phone,.mail
        font-size: 15px
        margin-bottom: 10px
      .social-icon
        margin-top: 10px
        font-size: 45px
        display: flex
        justify-content: center
        i
          transform: scale(1)
          transition: transform ease-in-out .3s
          margin-right: 8px
          cursor: pointer
          a
            text-decoration: none
            color: white
          &:hover
            transform: scale(1.2)

@media (max-width: 520px )
  .footer-section
    .footer-wrap
      height: 200px
      flex-direction: column
      .other
        order: 0
        transform: scale(.7)
      .contact
        order: 1
        height: 100px
        .phone,.mail
          font-size: 15px
          margin-top: 3px
        .mail
          margin-top: -5px
        .social-icon
          // margin-top: 10px
          font-size: 40px
          display: block
          justify-content: center
