section#about.about-section(data-stellar-background-ratio="0.5"  data-stellar-vertical-offset="0")
  .overlay-about
  .about-container
    .about-wrap.show
      .about-content
        h2.mision NUESTRA VISION
        p.mision La Dirección de Transferencia e Innovación (DTI) es un órgano dependiente del Vicerrectorado de Investigación, encargada de promover y gestionar relaciones e interacciones entre la UNHEVAL y su entorno, particularmente, el sector empresarial, en el área de la investigación e innovación tecnológica. Específicamente está encargada de transferir los resultados de los trabajos de investigación y prestaciones de servicios con entidades públicas y privadas; organizar información para empresas; publicaciones; proteger la propiedad intelectual y el registro de patentes.
    .about-wrap
      .about-content
        h2.vision NUESTRA MISION
        p.vision La Dirección de Transferencia e Innovación (DTI) es un órgano dependiente del Vicerrectorado de Investigación, encargada de promover y gestionar relaciones e interacciones entre la UNHEVAL y su entorno, particularmente, el sector empresarial, en el área de la investigación e innovación tecnológica. Específicamente está encargada de transferir los resultados de los trabajos de investigación y prestaciones de servicios con entidades públicas y privadas; organizar información para empresas; publicaciones; proteger la propiedad intelectual y el registro de patentes.
    .about-wrap
      .about-content
        h2.valores NUESTROS VALORES
        p.valores La Dirección de Transferencia e Innovación (DTI) es un órgano dependiente del Vicerrectorado de Investigación, encargada de promover y gestionar relaciones e interacciones entre la UNHEVAL y su entorno, particularmente, el sector empresarial, en el área de la investigación e innovación tecnológica. Específicamente está encargada de transferir los resultados de los trabajos de investigación y prestaciones de servicios con entidades públicas y privadas; organizar información para empresas; publicaciones; proteger la propiedad intelectual y el registro de patentes.

    .about-wrap
      .about-content
        h2.proposito NUESTRO PROPOSITO
        p.proposito La Dirección de Transferencia e Innovación (DTI) es un órgano dependiente del Vicerrectorado de Investigación, encargada de promover y gestionar relaciones e interacciones entre la UNHEVAL y su entorno, particularmente, el sector empresarial, en el área de la investigación e innovación tecnológica. Específicamente está encargada de transferir los resultados de los trabajos de investigación y prestaciones de servicios con entidades públicas y privadas; organizar información para empresas; publicaciones; proteger la propiedad intelectual y el registro de patentes.
.wrap-slide
  span
    .msg-btn
      .shape.show
        .bubble.bubble-mision vision
        .tip
      .slide-button
    .msg-btn
      .shape
        .bubble.bubble-vision mision
        .tip
      .slide-button
    .msg-btn
      .shape
        .bubble.bubble-valores valores
        .tip
      .slide-button
    .msg-btn
      .shape
        .bubble.bubble-proposito proposito
        .tip
      .slide-button
