section#areas.areas-section
  .area.a1
    .hover-area
    i
    p Oferta Tecnol贸gica
    br
    span con贸cenos
  .area.a2
    .hover-area
    i
    p Propiedad Intelectual, Patentes </br> y Publicaciones
    span con贸cenos
  .area.a3
    .hover-area
    i
    p Emprendimiento e Incubadora </br> de Empresas
    span con贸cenos
