section#equipo.equipo-section
  .equipo-wrap
    h2 CONOCE A NUESTRO EQUIPO
    .miembros
      .miembro
        .img-profile
          img(src="/assets/images/profile1.jpg")
          .semi-circulo.color1
        b  Nerida del Carmen Pastrana Diaz
        span Directora DTI
      .miembro
        .img-profile
          img(src="/assets/images/profile2.jpg")
          .semi-circulo.color2
        b  Amparo Espinoza Chávez
        span Jefa DTI
      .miembro
        .img-profile
          img(src="/assets/images/profile3.jpg")
          .semi-circulo.color3
        b  Carlos Manuel Ventura Matos
        span Coordinador EIE
      .miembro
        .img-profile
          img(src="/assets/images/profile4.jpg")
          .semi-circulo.color4
        b  Brittzzi Zarate Casachahua
        span Coordinadora PIPP
      .miembro
        .img-profile
          img(src="/assets/images/profile5.jpg")
          .semi-circulo.color5
        b  Yeltsin Josue Minaya Mallqui
        span Editor  de Contenido e Imagen
      .miembro
        .img-profile
          img(src="/assets/images/profile1.jpg")
          .semi-circulo.color6
        b Sin Nombre
        span Coordinador OT
