section#eventos.eventos-section
  .overlay-evento
  .title-eventos
    h2 Nuestros Eventos
  .eventos-wrap
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
    .evento-content
      img(width="250" src="/assets/images/evento.jpg")
      p  Open Day
