.modal
  .modal-wrap
    .sus-form
      .sus-close
        i.icon.icon-cancel
      .form-content 
        .fields 
          label Nombre
          input.field(type="text")
          label Apellidos
          input.field(type="text")
          label Correo
          input.field(type="text")
          label Prefencias    
          input.field(type="text")
          input.sus-btn(type="submit" value="Registrate")   
          .info-modal Suscribete para recibir información acerca de nuestros eventos y publicaciones.
          .social-modal 
            i
              a(href="https://www.facebook.com/Direcci%C3%B3n-de-Transferencia-e-Innovaci%C3%B3n-Unheval-881641215272116/" target="_blank").icon.icon-facebook
            i
              a(href="https://twitter.com/DTI_Unheval" target="_blank").icon.icon-twitter
            i
              a(href="https://www.youtube.com/channel/UCBbNSHmCDwwRkgty0H3wZcg" target="_blank").icon.icon-youtube
          
        
header#header
  video(muted loop autoplay src="/assets/video/bg.mp4" poster="/assets/images/portada.jpg")
  .overlay
  nav
    .logo
      img(src="/assets/images/logo.png")
    .items
      .toggle 
        i.icon.icon-menu3
      .close 
        i.icon.icon-close
      .tabs
        li
          a.hide.item(href="#about") acerca de
        li
          a.hide.item(href="#eventos") eventos
        li
          a.hide.item(href="#pub") publicaciones
        li
          a.hide.item(href="#equipo") equipo
        li
          a.hide.item(href="#") contacto
      .suscribete.item.hide SUSCRIBETE

  .main-title  DIRECCIÓN DE TRANSFERENCIA E INNOVACIÓN
  .span
