section#numeros.numeros-section(data-stellar-background-ratio="0.5" )
  .overlay-numeros
  .numeros-wrap
    .numero
      i.icon.icon-happy
      h2
        span.count 50
      p Convenios
    .numero
      i.icon.icon-presentation
      h2
        span.count 40
      p Proyectos
    .numero
      i.icon.icon-flag
      h2
        span.count 20
      p Objetivos Logrados
    .numero
      i.icon.icon-hourglass
      h2
        span.count 30
      p Años de Experiencia
