section#pub.pub-section
  .overlay-pub
  .title-pub
    h2 Publicaciones
  .pub-container
    .move-right
      span.icon.icon-arrow-left
    .pub-wrap
      .pub-move
        .pub-content
          img(src="/assets/images/pub_img1.jpg" width="100%" )
          .pub-body
            .pub-title Publicacion 1
            .pub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nam minus aliquid quia, quaerat quisquam, officia eveniet fugiat vero praesentium tempora numquam accusantium quos sint perferendis, odit cupiditate possimus nobis.

        .pub-content
          img(src="/assets/images/pub_img2.jpg" width="100%" )
          .pub-body
            .pub-title Publicacion 2
            .pub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nam minus aliquid quia, quaerat quisquam, officia eveniet fugiat vero praesentium tempora numquam accusantium quos sint perferendis, odit cupiditate possimus nobis.

        .pub-content
          img(src="/assets/images/pub_img3.jpg" width="100%" )
          .pub-body
            .pub-title Publicacion 3
            .pub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nam minus aliquid quia, quaerat quisquam, officia eveniet fugiat vero praesentium tempora numquam accusantium quos sint perferendis, odit cupiditate possimus nobis.

        .pub-content
          img(src="/assets/images/pub_img1.jpg"  width="100%")
          .pub-body
            .pub-title Publicacion 4
            .pub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nam minus aliquid quia, quaerat quisquam, officia eveniet fugiat vero praesentium tempora numquam accusantium quos sint perferendis, odit cupiditate possimus nobis.

        .pub-content
          img(src="/assets/images/pub_img2.jpg" width="100%" )
          .pub-body
            .pub-title Publicacion 5
            .pub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nam minus aliquid quia, quaerat quisquam, officia eveniet fugiat vero praesentium tempora numquam accusantium quos sint perferendis, odit cupiditate possimus nobis.

        .pub-content
          img(src="/assets/images/pub_img3.jpg" width="100%" )
          .pub-body
            .pub-title Publicacion 6
            .pub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nam minus aliquid quia, quaerat quisquam, officia eveniet fugiat vero praesentium tempora numquam accusantium quos sint perferendis, odit cupiditate possimus nobis.

    .move-left
      span.icon.icon-arrow-right

  .btn_pub
    span ver todas
